CLOUDINARY_URL=tu url de cloudinari
CLOUDINARY_CLOUD_NAME=tu cloudinari name
CLOUDINARY_API_KEY=tu cloudinary api key
CLOUDINARY_API_SECRET=tu cloudinari api secret
CORS_URLS=tus urls permitidas para el back
JWT_SECRET=tu secret token
POSTGRES_PASSWORD=tu contraseña de posgresql